In [6]:
import pandas as pd
from sqlalchemy import create_engine

## Read CSV

In [7]:
licenses = "Resources/business-licenses.csv"
owners = "Resources/business-owners.csv"

In [8]:
license_df = pd.read_csv(licenses)
license_df.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION,Community Areas,Historical Wards 2003-2015,Zip Codes,Census Tracts,Wards
0,101-20040516,1480073,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
1,101-20021116,1278029,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
2,101-20030516,1337924,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
3,100-20040516,1480076,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
4,101-20031116,1404362,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0

#### 1. Which company has the most number of business in Chicago

In [9]:
license_1 = license_df[['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME', 'DOING BUSINESS AS NAME', 'ADDRESS']]

In [10]:
license_1.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS
0,101-20040516,1480073,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
1,101-20021116,1278029,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
2,101-20030516,1337924,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
3,100-20040516,1480076,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
4,101-20031116,1404362,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST

In [12]:
license_1['ACCOUNT NUMBER'].max()

464863

In [13]:
license_1['SITE NUMBER'].max()

532

In [16]:
license_1.groupby('LEGAL NAME').count()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,DOING BUSINESS AS NAME,ADDRESS
LEGAL NAME,,,,,,
"""1758 W. GRAND AVENUE, INC.""",2,2,2,2,2,2
"""3394 N. MILWAUKEE, INC.""",14,14,14,14,14,14
"""6978 W. NORTH, INC.""",12,12,12,12,12,12
"""A"" HEARING AID CENTER, INC.",11,11,11,11,11,11
"""ALSOL, INC.""",51,51,51,51,51,51
...,...,...,...,...,...,...
yussif d denka,3,3,3,3,3,3
z martin plastering llc,1,1,1,1,1,1
zarah international inc,39,39,39,39,39,39
zorosoft llc,5,5,5,5,5,5
ztellwireless,1,1,1,1,1,1