In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Read CSV

In [2]:
licenses = "Resources/business-licenses.csv"
owners = "Resources/business-owners.csv"

In [3]:
license_df = pd.read_csv(licenses)
license_df.head()

C:\Users\junya\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION,Community Areas,Historical Wards 2003-2015,Zip Codes,Census Tracts,Wards
0,101-20040516,1480073,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
1,101-20021116,1278029,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
2,101-20030516,1337924,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
3,100-20040516,1480076,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0
4,101-20031116,1404362,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST,CHICAGO,IL,60603,...,NaN,1.0,41.879342,-87.628412,"{'latitude': '41.879341938770445', 'longitude'...",38.0,22.0,14912.0,92.0,36.0

#### 1. Which company has the most number of business in Chicago

In [9]:
license_1 = license_df[['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME', 'DOING BUSINESS AS NAME', 'ADDRESS']]

In [10]:
license_1.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS
0,101-20040516,1480073,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
1,101-20021116,1278029,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
2,101-20030516,1337924,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
3,100-20040516,1480076,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST
4,101-20031116,1404362,1,1,BERGHOFF RESTAURANT COMPANY OF DELAWARE,BERGHOFF'S RESTAURANT,17 W ADAMS ST # 1ST

In [12]:
license_1['ACCOUNT NUMBER'].max()

464863

In [13]:
license_1['SITE NUMBER'].max()

532

In [19]:
license_1.groupby('LEGAL NAME').count().sort_values(["ID"], ascending=False)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,DOING BUSINESS AS NAME,ADDRESS
LEGAL NAME,,,,,,
WALGREEN CO.,2801,2801,2801,2801,2801,2801
"BOND DRUG COMPANY OF ILLINOIS, LLC",2393,2393,2393,2393,2393,2393
SP PLUS CORPORATION,2240,2240,2240,2240,2240,2240
STARBUCKS CORPORATION,2133,2133,2133,2133,2133,2133
AMERICAN DRUG STORES LLC,1889,1889,1889,1889,1889,1889
...,...,...,...,...,...,...
KEYS TRANSPORTATION,1,1,1,1,1,1
KEYON M. GASKIN,1,1,1,1,1,1
KEYNO CHATEAU SMALL,1,1,1,1,1,1
KEYLESS WORLD INC.,1,1,1,1,1,1
ztellwireless,1,1,1,1,1,1

In [20]:
license_1.groupby('DOING BUSINESS AS NAME').count().sort_values(["ID"], ascending=False)

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,ADDRESS
DOING BUSINESS AS NAME,,,,,,
7-ELEVEN,1636,1636,1636,1636,1636,1636
SUBWAY,1544,1544,1544,1544,1544,1544
DUNKIN DONUTS,1111,1111,1111,1111,1111,1111
ALLIED WASTE OF CHICAGO,967,967,967,967,967,967
JACKSON HEWITT TAX SERVICE,904,904,904,904,904,904
...,...,...,...,...,...,...
DYNASTY FITNESS CENTER,1,1,1,1,1,1
REAL ESTATE SERVICES,1,1,1,1,1,1
REAL GOOD FOOD & CATERING,1,1,1,1,1,1
REAL GOOD FOOD & CATERING LLC,1,1,1,1,1,1
KARI GESCHEIDER,1,1,1,1,1,1

#### 3. Application type distribution

In [4]:
for i in license_df.columns:
    print(i)

ID
LICENSE ID
ACCOUNT NUMBER
SITE NUMBER
LEGAL NAME
DOING BUSINESS AS NAME
ADDRESS
CITY
STATE
ZIP CODE
WARD
PRECINCT
WARD PRECINCT
POLICE DISTRICT
LICENSE CODE
LICENSE DESCRIPTION
BUSINESS ACTIVITY ID
BUSINESS ACTIVITY
LICENSE NUMBER
APPLICATION TYPE
APPLICATION CREATED DATE
APPLICATION REQUIREMENTS COMPLETE
PAYMENT DATE
CONDITIONAL APPROVAL
LICENSE TERM START DATE
LICENSE TERM EXPIRATION DATE
LICENSE APPROVED FOR ISSUANCE
DATE ISSUED
LICENSE STATUS
LICENSE STATUS CHANGE DATE
SSA
LATITUDE
LONGITUDE
LOCATION
Community Areas
Historical Wards 2003-2015
Zip Codes
Census Tracts
Wards

In [ ]:
license_3 = license_df[['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME', 'DOING BUSINESS AS NAME', 'LICENSE CODE']]